$font-color: #494540;
$font-size: 24px;
$green-bg: #E7F2D4;
$orange: #F68825;
$orange-bg: #F3EFEA;
$page-width: 320px;


html, body {
  font-color: $font-color;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: $font-size;
  text-align: center;
}

h1 {
  font-weight: bolder;
}

a {
  color: $orange;

  &:visited {
    color: $orange;
  }
}

#top, #bottom {
  height: 40%;
  line-height: 100px;
  margin: auto;
  max-width: $page-width;
}

#top {
  margin-top: 25px;
}

#number {
  border-radius: 20px;
  font-size: 3 * $font-size;
  font-weight: bolder;
  line-height: 100px;
  margin: auto;
  min-height: 100px;
  width: 50%;
}

#advance, #reset {
  border-color: lighten($font-color, 50%);
  border-radius: 20px;
  border-width: thin;
  cursor: pointer;
  float: left;
  font-size: $font-size;
  height: 100%;
  margin: 2.5%;
  width: 45%;
}

#advance {
  background: $green-bg;
}

#reset {
  background: $orange-bg;
}

#resource-id {
  color: lighten($font-color, 25%);
  font-size: 10pt;
  font-weight: lighter;
  font-style: oblique;
  margin: 10px auto auto auto;
  width: $page-width;
}
